.banner {
    width: auto;
    height: auto;
    background-color: rgba(22, 3, 41);
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;   
}

.mettellogo  {
    padding-top: 4%;
    width: 500px;
    height: auto;
}

.buttons {
    width: auto;
    height: 100%;
    margin: 2.5% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.registerbtn {
    width: 15em;
    height: 5em;
    margin: 1%;
    font-weight: bold;
    color: whitesmoke;
    background-color:#97247e;
    border-color: rgba(245, 245, 245, 0.438);
    border-width: 5px;
    border-radius: 10px;
}

.registerbtn:hover {
    background-color:#6e1b67;
    color: whitesmoke;
}